html{
    margin: 0;
    padding: o;
    background:grey;
}
    body{
    width:70%;
    margin:0 auto;
    color:black;
    background-color: white;
    padding:1em ;
    font: 1em arial, sans-serif;
    border: 4px solid gold

}
h1{
    font-size: 2em;
    color: #ddd;
    background-color: rgb(3, 3, 129);
    margin: 0 0 .4em;

}
a{
    text-decoration: none;
    color:blue;
    font-size: 1em;

}
a:hover{
    color: black;
}
.founder{
    width:"300";
}